<h1>Edit Merchant #<%= @merchant.id %></h1>

<%= render partial: "form", locals: {
                                      path: "/admin/merchants/#{@merchant.id}",
                                      method: :patch,
                                      label: "Update Merchant",
                                      hidden: nil,
                                      dropdown: "yes",
                                      prefill: @merchant.name
                                    } %>
