<h1>Add a New Merchant</h1>

<%= render partial: "form", locals: {
                                    path: '/admin/merchants',
                                    method: :post,
                                    label: "Submit",
                                    hidden: "yes",
                                    dropdown: nil,
                                    prefill: nil
                                  } %>
