@import "/*";
@import "bootstrap";
 @import "tether";


.merchant-div {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.merchant-adm {
  display: flex;
  flex-direction: row;
  flex: 2;
  text-align: left;
  justify-content: center;
}
.merchant-adm2{
  display: flex;
  flex-direction: row;
  flex: 2;
  // padding-left: 13rem;
  text-align: left;
}

.left-div{
text-align: left;
}
.left-div2{
text-align: left;
// padding-left: 9rem;
}
.right-div{
text-align: left;
}
.center-col {
text-align: left;
}
.center-col2 {
text-align: left;
padding-left: 4rem;
}
// .merch-right-div{
// flex: 50%;
// text-align: left;
// }
.center-admin{
padding-left: 29rem;
}
